

#slogan{
    position : absolute;
    top : 40px;
    right : 1000px;
    font-family : serif;
    font-size : 36px;
}

nav{
    background-color : black;
}

nav li{ /* La fameuse cascade, ou héritage, ou jsp, pour que seuls les li issus de la nav soient traités ainsi, au cas où tu en rajoutes plus tard */
    display : inline;
    list-style : none;
}

a{
    color: white;
}

#global{
    display : flex;
    max-width : 100%;
}

#leftPanel{
    position : relative;
    width : 70%;
}

#rightPanel{
    position : relative;
    width : 30%;
    background-color : lightgrey;
}

