h1 {
position: absolute;
top: 50px;
right: 500px;
font-family:serif;
}


ul {
display: flex;    
background-color: black;
}

li {
list-style-type: none;
height: 50px;
width: 120px;
color: white;
}

.Accueil {
height: 50px;
width: 60px;
}

.article {

font: size 1155px;
}

